In [12]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('CoeficienteMortalidadeInfantil_dado.csv', delimiter=';' )

In [9]:
df.isnull().sum()

Municípios                                                      0
Coeficiente de mortalidade infantil (por mil nascidos vivos)    0
Nascidos vivos                                                  0
Óbito infantil                                                  0
dtype: int64

In [11]:
df[df['Óbito infantil']=="-"]

C:\Users\marco\Anaconda3\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [3]:
df.head()

,Municípios,Coeficiente de mortalidade infantil (por mil nascidos vivos),Nascidos vivos,Óbito infantil
0,Abreu e Lima,"14,12",1346,19
1,Afogados da Ingazeira,"24,43",573,14
2,Afrânio,"6,41",312,2
3,Agrestina,"17,18",291,5
4,Água Preta,"18,65",429,8

In [ ]:
df.isnull.sum

In [106]:
a= df

In [100]:
df.dtypes

Municípios                                                      object
Coeficiente de mortalidade infantil (por mil nascidos vivos)    object
Nascidos vivos                                                   int64
Óbito infantil                                                   int64
dtype: object

In [123]:
df.isnull().sum()

Municípios                                                      0
Coeficiente de mortalidade infantil (por mil nascidos vivos)    0
Nascidos vivos                                                  0
Óbito infantil                                                  0
dtype: int64

In [40]:
df.columns

Index(['Municípios',
       'Coeficiente de mortalidade infantil (por mil nascidos vivos)',
       'Nascidos vivos', 'Óbito infantil'],
      dtype='object')

In [45]:

print('Qantas municipios tem o arquivo: ',len(df))

Qantas municipios tem o arquivo:  185

In [20]:
#lista os 5 primeiros
df.head()

,Municípios,Coeficiente de mortalidade infantil (por mil nascidos vivos),Nascidos vivos,Óbito infantil
0,Abreu e Lima,"14,12",1346,19
1,Afogados da Ingazeira,"24,43",573,14
2,Afrânio,"6,41",312,2
3,Agrestina,"17,18",291,5
4,Água Preta,"18,65",429,8

In [33]:
municipiosNascidosVivos =df.groupby(['Municípios'])['Nascidos vivos']

In [35]:
municipiosNascidosVivos

In [117]:
df2 = df.sort_values(['Óbito infantil'], ascending=False)

In [120]:
df2.dtypes

Municípios                                                      object
Coeficiente de mortalidade infantil (por mil nascidos vivos)    object
Nascidos vivos                                                   int64
Óbito infantil                                                   int64
dtype: object

In [118]:
df2

,Municípios,Coeficiente de mortalidade infantil (por mil nascidos vivos),Nascidos vivos,Óbito infantil
131,Recife,"13,2",21742,287
87,Jaboatão dos Guararapes,"12,29",8870,109
125,Petrolina,"16,63",5353,89
110,Olinda,"13,39",5975,80
44,Caruaru,"14,63",5126,75
121,Paulista,16,3624,58
30,Cabo de Santo Agostinho,"14,85",3299,49
12,Araripina,"25,44",1690,43
66,Garanhuns,"15,36",2409,37
36,Camaragibe,"15,2",2171,33
142,Santa Cruz do Capibaribe,"28,65",1047,30
183,Vitória de Santo Antão,"13,16",1975,26
78,Ipojuca,"15,71",1464,23
29,Buíque,"20,68",1064,22
113,Ouricuri,"21,44",1026,22
18,Belo Jardim,"18,72",1175,22
5,Águas Belas,"25,99",808,21
157,Serra Talhada,"15,03",1331,20
79,Ipubi,"32,52",615,20
0,Abreu e Lima,"14,12",1346,19
174,Trindade,"29,73",639,19
155,São Lourenço da Mata,"12,33",1460,18
74,Igarassu,"13,06",1378,18
144,Santa Maria da Boa Vista,"22,53",799,18
123,Pesqueira,"15,4",1104,17
68,Goiana,"14,9",1141,17
137,Salgueiro,"15,74",1080,17
13,Arcoverde,"14,91",1073,16
43,Carpina,"14,4",1042,15
55,Custódia,"24,65",568,14
...,...,...,...,...
179,Verdejante,"12,2",164,2
180,Vertente do Lério,"15,15",132,2
69,Granito,"19,61",102,2
2,Afrânio,"6,41",312,2
96,Lagoa do Carro,"8,77",228,2
64,Frei Miguelinho,"11,98",167,2
126,Poção,"8,81",227,2
138,Saloá,"8,1",247,2
19,Betânia,"9,43",212,2
47,Cedro,"10,64",188,2
45,Casinhas,"9,9",202,2
132,Riacho das Almas,"7,38",271,2
130,Quixaba,"22,73",88,2
48,Chã de Alegria,"10,58",189,2
34,Calçado,"13,16",152,2
98,Lagoa do Ouro,"4,59",218,1
61,Ferreiros,"5,52",181,1
129,Quipapá,"2,88",347,1
60,Fernando de Noronha,"43,48",23,1
128,Primavera,"5,62",178,1
35,Calumbi,"10,42",96,1
53,Cumaru,"4,81",208,1
115,Palmeirina,"7,41",135,1
111,Orobó,"3,4",294,1
10,Angelim,"7,04",142,1
16,Belém de Maria,"6,99",143,1
136,Salgadinho,"10,42",96,1
28,Buenos Aires,0,212,0
77,Ingazeira,0,61,0
117,Paranatama,0,203,0

In [71]:
a= df['Coeficiente de mortalidade infantil (por mil nascidos vivos)'].sort_values(ascending=True)

In [114]:
df['Óbito infantil'].sort_values(ascending=False)

131    287
87     109
125     89
110     80
44      75
121     58
30      49
12      43
66      37
36      33
142     30
183     26
78      23
29      22
113     22
18      22
5       21
157     20
79      20
0       19
174     19
74      18
144     18
155     18
137     17
68      17
123     17
13      16
43      15
114     14
      ...
173      2
64       2
47       2
80       2
69       2
75       2
52       2
48       2
138      2
45       2
93       2
88       2
89       2
162      2
34       2
136      1
60       1
115      1
98       1
53       1
128      1
10       1
111      1
35       1
61       1
129      1
16       1
77       0
117      0
28       0
Name: Óbito infantil, Length: 185, dtype: int64

In [108]:
df = pd.DataFrame(a, columns=['municipios','coeficiente de mortalidade','nascidos vivos','obto infantil'])

In [82]:
df2 = df.sort_values(['Óbito infantil'],ascending=False)

In [86]:
df.dtypes

Municípios                                                      object
Coeficiente de mortalidade infantil (por mil nascidos vivos)    object
Nascidos vivos                                                   int64
Óbito infantil                                                  object
dtype: object

In [122]:
df['Coeficiente de mortalidade infantil (por mil nascidos vivos)'] = df['Coeficiente de mortalidade infantil (por mil nascidos vivos)'].astype(float)

ValueError: could not convert string to float: '29,09'

In [93]:
df[28]

KeyError: 28

In [ ]:
alunos.loc[(alunos['municipio_nascimento'] =='RECIFE') ]

In [99]:
df.loc[(df['Óbito infantil'] == '-') ]

C:\Users\marconunes\Desktop\PYTHON\WinPython-64bit-3.6.3.0Qt5\python-3.6.3.amd64\lib\site-packages\pandas\core\ops.py:816: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [83]:
df2

,Municípios,Coeficiente de mortalidade infantil (por mil nascidos vivos),Nascidos vivos,Óbito infantil
122,Pedra,"23,26",387,9
153,São José do Belmonte,"17,89",503,9
17,Belém do São Francisco,"22,78",395,9
178,Venturosa,"31,69",284,9
116,Panelas,"21,9",411,9
125,Petrolina,"16,63",5353,89
110,Olinda,"13,39",5975,80
184,Xexéu,"29,09",275,8
112,Orocó,"32,92",243,8
105,Manari,"22,47",356,8
4,Água Preta,"18,65",429,8
62,Flores,"26,58",301,8
44,Caruaru,"14,63",5126,75
145,Santa Maria do Cambucá,"34,65",202,7
119,Passira,"14,17",494,7
141,Santa Cruz da Baixa Verde,"27,56",254,7
7,Aliança,"12,17",575,7
83,Itambé,"11,88",589,7
133,Ribeirão,"12,03",582,7
159,Sertânia,"14,08",497,7
24,Bonito,"11,25",622,7
27,Brejo da Madre de Deus,"8,42",713,6
40,Capoeiras,"17,7",339,6
108,Moreno,"8,33",720,6
59,Feira Nova,"18,13",331,6
148,São Bento do Una,"7,46",804,6
154,São José do Egito,"15,58",385,6
134,Rio Formoso,"14,46",415,6
91,João Alfredo,"15,96",376,6
161,Moreilândia,"41,1",146,6
...,...,...,...,...
171,Timbaúba,"13,27",829,11
149,São Caitano,"18,97",580,11
21,Bodocó,"18,12",607,11
124,Petrolândia,"17,05",645,11
58,Exu,"18,15",606,11
33,Caetés,"22,49",489,11
120,Paudalho,"12,96",849,11
46,Catende,"19,16",574,11
87,Jaboatão dos Guararapes,"12,29",8870,109
42,Carnaubeira da Penha,"30,77",325,10
81,Itaíba,"22,62",442,10
176,Tupanatinga,"26,11",383,10
57,Escada,"10,02",998,10
172,Toritama,"16,08",622,10
164,Tabira,"26,39",379,10
136,Salgadinho,"10,42",96,1
98,Lagoa do Ouro,"4,59",218,1
129,Quipapá,"2,88",347,1
35,Calumbi,"10,42",96,1
53,Cumaru,"4,81",208,1
16,Belém de Maria,"6,99",143,1
111,Orobó,"3,4",294,1
60,Fernando de Noronha,"43,48",23,1
128,Primavera,"5,62",178,1
115,Palmeirina,"7,41",135,1
10,Angelim,"7,04",142,1
61,Ferreiros,"5,52",181,1
28,Buenos Aires,-,212,-
77,Ingazeira,-,61,-
117,Paranatama,-,203,-

In [70]:
df

,Municípios,Coeficiente de mortalidade infantil (por mil nascidos vivos),Nascidos vivos,Óbito infantil
0,Abreu e Lima,"14,12",1346,19
1,Afogados da Ingazeira,"24,43",573,14
2,Afrânio,"6,41",312,2
3,Agrestina,"17,18",291,5
4,Água Preta,"18,65",429,8
5,Águas Belas,"25,99",808,21
6,Alagoinha,"8,44",237,2
7,Aliança,"12,17",575,7
8,Altinho,"23,62",254,6
9,Amaraji,"13,47",297,4
10,Angelim,"7,04",142,1
11,Araçoiaba,"12,86",311,4
12,Araripina,"25,44",1690,43
13,Arcoverde,"14,91",1073,16
14,Barra de Guabiraba,"26,18",191,5
15,Barreiros,"7,24",691,5
16,Belém de Maria,"6,99",143,1
17,Belém do São Francisco,"22,78",395,9
18,Belo Jardim,"18,72",1175,22
19,Betânia,"9,43",212,2
20,Bezerros,"17,2",756,13
21,Bodocó,"18,12",607,11
22,Bom Conselho,"17,43",746,13
23,Bom Jardim,"7,18",557,4
24,Bonito,"11,25",622,7
25,Brejão,"23,12",173,4
26,Brejinho,"29,13",103,3
27,Brejo da Madre de Deus,"8,42",713,6
28,Buenos Aires,-,212,-
29,Buíque,"20,68",1064,22
...,...,...,...,...
155,São Lourenço da Mata,"12,33",1460,18
156,São Vicente Ferrer,"14,13",283,4
157,Serra Talhada,"15,03",1331,20
158,Serrita,"9,35",321,3
159,Sertânia,"14,08",497,7
160,Sirinhaém,"19,23",676,13
161,Moreilândia,"41,1",146,6
162,Solidão,20,100,2
163,Surubim,"6,69",897,6
164,Tabira,"26,39",379,10
165,Tacaimbó,"20,51",195,4
166,Tacaratu,"34,88",344,12
167,Tamandaré,"10,7",374,4
168,Taquaritinga do Norte,"10,44",383,4
169,Terezinha,"27,27",110,3
170,Terra Nova,"33,33",150,5
171,Timbaúba,"13,27",829,11
172,Toritama,"16,08",622,10
173,Tracunhaém,"8,7",230,2
174,Trindade,"29,73",639,19
175,Triunfo,"14,15",212,3
176,Tupanatinga,"26,11",383,10
177,Tuparetama,"15,87",126,2
178,Venturosa,"31,69",284,9
179,Verdejante,"12,2",164,2
180,Vertente do Lério,"15,15",132,2
181,Vertentes,"35,71",308,11
182,Vicência,"7,26",413,3
183,Vitória de Santo Antão,"13,16",1975,26
184,Xexéu,"29,09",275,8

In [57]:
df

,Municípios,Coeficiente de mortalidade infantil (por mil nascidos vivos),Nascidos vivos,Óbito infantil
0,Abreu e Lima,"14,12",1346,19
1,Afogados da Ingazeira,"24,43",573,14
2,Afrânio,"6,41",312,2
3,Agrestina,"17,18",291,5
4,Água Preta,"18,65",429,8
5,Águas Belas,"25,99",808,21
6,Alagoinha,"8,44",237,2
7,Aliança,"12,17",575,7
8,Altinho,"23,62",254,6
9,Amaraji,"13,47",297,4
10,Angelim,"7,04",142,1
11,Araçoiaba,"12,86",311,4
12,Araripina,"25,44",1690,43
13,Arcoverde,"14,91",1073,16
14,Barra de Guabiraba,"26,18",191,5
15,Barreiros,"7,24",691,5
16,Belém de Maria,"6,99",143,1
17,Belém do São Francisco,"22,78",395,9
18,Belo Jardim,"18,72",1175,22
19,Betânia,"9,43",212,2
20,Bezerros,"17,2",756,13
21,Bodocó,"18,12",607,11
22,Bom Conselho,"17,43",746,13
23,Bom Jardim,"7,18",557,4
24,Bonito,"11,25",622,7
25,Brejão,"23,12",173,4
26,Brejinho,"29,13",103,3
27,Brejo da Madre de Deus,"8,42",713,6
28,Buenos Aires,-,212,-
29,Buíque,"20,68",1064,22
...,...,...,...,...
155,São Lourenço da Mata,"12,33",1460,18
156,São Vicente Ferrer,"14,13",283,4
157,Serra Talhada,"15,03",1331,20
158,Serrita,"9,35",321,3
159,Sertânia,"14,08",497,7
160,Sirinhaém,"19,23",676,13
161,Moreilândia,"41,1",146,6
162,Solidão,20,100,2
163,Surubim,"6,69",897,6
164,Tabira,"26,39",379,10
165,Tacaimbó,"20,51",195,4
166,Tacaratu,"34,88",344,12
167,Tamandaré,"10,7",374,4
168,Taquaritinga do Norte,"10,44",383,4
169,Terezinha,"27,27",110,3
170,Terra Nova,"33,33",150,5
171,Timbaúba,"13,27",829,11
172,Toritama,"16,08",622,10
173,Tracunhaém,"8,7",230,2
174,Trindade,"29,73",639,19
175,Triunfo,"14,15",212,3
176,Tupanatinga,"26,11",383,10
177,Tuparetama,"15,87",126,2
178,Venturosa,"31,69",284,9
179,Verdejante,"12,2",164,2
180,Vertente do Lério,"15,15",132,2
181,Vertentes,"35,71",308,11
182,Vicência,"7,26",413,3
183,Vitória de Santo Antão,"13,16",1975,26
184,Xexéu,"29,09",275,8

In [51]:
df2

,Municípios,Coeficiente de mortalidade infantil (por mil nascidos vivos),Nascidos vivos,Óbito infantil
117,Paranatama,-,203,-
77,Ingazeira,-,61,-
28,Buenos Aires,-,212,-
57,Escada,"10,02",998,10
118,Parnamirim,"10,18",393,4
136,Salgadinho,"10,42",96,1
35,Calumbi,"10,42",96,1
168,Taquaritinga do Norte,"10,44",383,4
48,Chã de Alegria,"10,58",189,2
47,Cedro,"10,64",188,2
52,Cortês,"10,64",188,2
167,Tamandaré,"10,7",374,4
93,Jucati,"10,93",183,2
151,São Joaquim do Monte,"11,17",358,4
24,Bonito,"11,25",622,7
75,Iguaracy,"11,7",171,2
54,Cupira,"11,73",341,4
83,Itambé,"11,88",589,7
140,Santa Cruz,"11,96",418,5
64,Frei Miguelinho,"11,98",167,2
133,Ribeirão,"12,03",582,7
7,Aliança,"12,17",575,7
179,Verdejante,"12,2",164,2
87,Jaboatão dos Guararapes,"12,29",8870,109
155,São Lourenço da Mata,"12,33",1460,18
85,Itapissuma,"12,74",314,4
51,Correntes,"12,82",234,3
139,Sanharó,"12,86",311,4
11,Araçoiaba,"12,86",311,4
120,Paudalho,"12,96",849,11
...,...,...,...,...
60,Fernando de Noronha,"43,48",23,1
61,Ferreiros,"5,52",181,1
128,Primavera,"5,62",178,1
2,Afrânio,"6,41",312,2
163,Surubim,"6,69",897,6
16,Belém de Maria,"6,99",143,1
10,Angelim,"7,04",142,1
89,Jataúba,"7,09",282,2
23,Bom Jardim,"7,18",557,4
15,Barreiros,"7,24",691,5
182,Vicência,"7,26",413,3
101,Lajedo,"7,33",682,5
132,Riacho das Almas,"7,38",271,2
115,Palmeirina,"7,41",135,1
148,São Bento do Una,"7,46",804,6
138,Saloá,"8,1",247,2
97,Lagoa do Itaenga,"8,13",369,3
108,Moreno,"8,33",720,6
27,Brejo da Madre de Deus,"8,42",713,6
6,Alagoinha,"8,44",237,2
127,Pombos,"8,47",354,3
173,Tracunhaém,"8,7",230,2
96,Lagoa do Carro,"8,77",228,2
126,Poção,"8,81",227,2
31,Cabrobó,"8,93",560,5
158,Serrita,"9,35",321,3
19,Betânia,"9,43",212,2
67,Glória do Goitá,"9,78",409,4
45,Casinhas,"9,9",202,2
70,Gravatá,"9,99",1101,11

In [31]:
df['Nascidos vivos'].sort_values(ascending=False)

131    21742
87      8870
110     5975
125     5353
44      5126
121     3624
30      3299
66      2409
36      2171
183     1975
12      1690
78      1464
155     1460
74      1378
0       1346
157     1331
18      1175
68      1141
123     1104
70      1101
137     1080
13      1073
29      1064
142     1047
43      1042
113     1026
57       998
163      897
114      884
120      849
       ...
61       181
128      178
25       173
75       171
64       167
179      164
146      157
34       152
170      150
88       150
161      146
16       143
10       142
135      136
115      135
180      132
147      127
177      126
38       111
169      110
26       103
73       102
69       102
162      100
136       96
35        96
80        89
130       88
77        61
60        23
Name: Nascidos vivos, Length: 185, dtype: int64

In [27]:
municipiosNascidosVivos

In [28]:
print(municipiosNascidosVivos)

<pandas.core.groupby.SeriesGroupBy object at 0x00000000057F6CC0>

In [9]:
Ocorrenciacarnaval

Município                 Agropecuária
Abreu e Lima              26              1
Afogados da Ingazeira     13              1
Afrânio                   15              1
Agrestina                 143             1
Alagoinha                 2               1
Aliança                   1464            1
Altinho                   27              1
Amaraji                   103             1
Angelim                   34              1
Araripina                 14              1
Araçoiaba                 3               1
Arcoverde                 93              1
Barra de Guabiraba        3539            1
Barreiros                 593             1
Belo Jardim               206             1
Belém de Maria            4               1
Belém do São Francisco    668             1
Betânia                   2               1
Bezerros                  187             1
Bodocó                    -               1
Bom Conselho              63              1
Bom Jardim                100             1
Bonito                    160             1
Brejinho                  -               1
Brejo da Madre de Deus    35              1
Brejão                    66              1
Buenos Aires              140             1
Buíque                    21              1
Cabo de Santo Agostinho   3813            1
Cabrobó                   21              1
                                         ..
São Joaquim do Monte      25              1
São José da Coroa Grande  57              1
São José do Belmonte      -               1
São José do Egito         244             1
São João                  5               1
São Lourenço da Mata      24              1
São Vicente Ferrer        281             1
Tabira                    -               1
Tacaimbó                  1               1
Tacaratu                  17              1
Tamandaré                 111             1
Taquaritinga do Norte     54              1
Terezinha                 3               1
Terra Nova                1               1
Timbaúba                  308             1
Toritama                  37              1
Tracunhaém                142             1
Trindade                  2               1
Triunfo                   16              1
Tupanatinga               -               1
Tuparetama                14              1
Venturosa                 -               1
Verdejante                -               1
Vertente do Lério         1               1
Vertentes                 55              1
Vicência                  432             1
Vitória de Santo Antão    418             1
Xexéu                     430             1
Água Preta                330             1
Águas Belas               27              1
Name: Agropecuária, Length: 185, dtype: int64