In [4]:
2+2

4

In [13]:
a=0
while a <=30:
    if a % 2 == 0:
        print(a)
    a +=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [15]:
cont =1
while True:
    if cont %2 ==0:
        print(cont)
    cont+=1
    if cont == 134:
        break

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133

In [16]:
cont =1
while True:
    if cont %2 ==0:
        print(cont)
    cont+=1
    if cont == 134:
        break

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132

In [18]:
tabuada =1
while tabuada <=10:
    numero =1
    while numero <=10:
        print('%d x %d = %d' %(tabuada,numero, numero* tabuada))
        numero +=1
    tabuada +=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [24]:
lista = [2,'ana',6.4,7,8,9,['sport','flamento']]
print(len(lista))
print(lista[-1][0])

7
sport

In [25]:
cont=0
while cont < len(lista):
    print(lista[cont])
    cont +=1

2
ana
6.4
7
8
9
['sport', 'flamento']

In [26]:
lista=[1,2,3,4,5,6]
lista2= lista
lista2[0] = 10
print(lista)

[10, 2, 3, 4, 5, 6]

In [27]:
lista=[1,2,3,4,5,6]
lista2= lista[:]
lista2[0] = 10
print(lista)

[1, 2, 3, 4, 5, 6]

In [28]:
lista2.append("ana maria")
print(lista2)

[10, 2, 3, 4, 5, 6, 'ana maria']

In [29]:
lista3 = lista + lista2
print(lista3)

[1, 2, 3, 4, 5, 6, 10, 2, 3, 4, 5, 6, 'ana maria']

In [30]:
len(lista3)

13

In [31]:
lista3.pop(0)
print(lista3)

[2, 3, 4, 5, 6, 10, 2, 3, 4, 5, 6, 'ana maria']

In [32]:
lista3.remove(2)
print(lista3)

[3, 4, 5, 6, 10, 2, 3, 4, 5, 6, 'ana maria']

In [33]:
lista3.remove(2)
print(lista3)

[3, 4, 5, 6, 10, 3, 4, 5, 6, 'ana maria']

In [35]:
lista =[1,2,3,4,5,6,7]
for e in lista:
    print(e)

1
2
3
4
5
6
7

In [43]:
vl_remove = int(input('informe o numero a ser removido'))
lista =[1,2,3,4,5,6,7]
for e in lisa:
    if vl_remove == e:
        lista.pop(e)
    else:
        print('')
    print(e)

informe o numero a ser removido4

1

2

3
4

6

7

In [49]:
lista =[12,43,55,67]
busca = 50
for a in lista:
    if a == busca:
        print("achou")
        break

In [50]:
lista =[12,43,55,67]
busca = 50
for a in lista:
    if a == busca:
        print("achou")
        break

In [54]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [56]:
for i in range(7,90,5):
    print(i)

7
12
17
22
27
32
37
42
47
52
57
62
67
72
77
82
87

In [57]:
nome = 'marco aurellio'
for i in nome:
    print(i)

m
a
r
c
o

a
u
r
e
l
l
i
o

In [59]:
#conjunto
s = set()
type(s)

set

In [60]:
s.add(10)
s.add(20)
s.add(30)
print(s)

{10, 20, 30}

In [61]:
s.add(10)
print(s)

{10, 20, 30}

In [62]:
s1 = {1,2,3,4,5}
s2 = {6,2,8,9 }
uniao = s1.union(s2)
print(uniao)

{1, 2, 3, 4, 5, 6, 8, 9}

In [63]:
inter = s1.intersection(s2)
print(uniao)

{1, 2, 3, 4, 5, 6, 8, 9}

In [65]:
s1 = {1,2,3,4,5}
s2 = {6,2,8,9 }
inter = s1.intersection(s2)
print(inter)

{2}

In [66]:
s1 = {1,2,3,4,5}
s2 = {6,2,8,9 }
dif = s1.difference(s2)
print(dif)

{1, 3, 4, 5}

In [67]:
lista = [1,2,2,3,3,4,4,5,5,6,6,7]
set = set(lista)
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [69]:
#dicionario
a={'marco': 13 , 'maria': 25, 'ana':50}
print(a)

{'marco': 13, 'maria': 25, 'ana': 50}

In [72]:
print(a['marco'])

13

In [73]:
a['nova chave'] = 60
print(a)

{'marco': 13, 'maria': 25, 'ana': 50, 'nova chave': 60}

In [74]:
for k in a:
    print(a[k])

13
25
50
60

In [75]:
print(a.items())

dict_items([('marco', 13), ('maria', 25), ('ana', 50), ('nova chave', 60)])

In [76]:
print(a.keys())

dict_keys(['marco', 'maria', 'ana', 'nova chave'])

In [77]:
print(a.values())

dict_values([13, 25, 50, 60])

In [78]:
'marco' in a

True

In [84]:
#função
def somar(a,b):
 return  a + b

print(somar(2,7))

9

In [86]:
def iprimir():
    print('função sem parametros')
    
iprimir()

função sem parametros

In [88]:
def par(num):
    if num % 2 ==0:
        print('e par')
    else:
        print('não e par')
par(63)

não e par

In [90]:
def soma(*args):
    return sum(*args)

soma([1,2,3])

6

In [94]:
#fatorial
def fat(n):
    if n ==0 or n==1:
        return 1
    return n * fat(n-1)
print(fat(80))

71569457046263802294811533723186532165584657342365752577109445058227039255480148842668944867280814080000000000000000000

In [101]:
def nome(nome ="marco"):
   print(nome)

nome()
nome('maria')

marco
maria