In [1]:
#bibliotecas
import numpy as np
import pandas as pd

In [10]:
#importando o dataset
populacao_pe = pd.read_excel('total-populacao-pernambuco.xls')

In [11]:
#exibindo Colunas
populacao_pe.columns

Index(['Código do município', 'Nome do município', 'Total da população 2000',
       'Total de homens', 'Total de mulheres', 'Total da população urbana',
       'Total da população rural', 'Total da população 2010'],
      dtype='object')

In [14]:
# nosso dataSet possui 8 colunas e 187 amostras
populacao_pe.shape

(187, 8)

In [15]:
#exibir as 10 primeiras amostras
populacao_pe.head(5)

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0

In [23]:
#selecionar uma lista com as cidades que tem menos de 5.000 habitantes
popMenor5mil =populacao_pe.loc[populacao_pe['Total da população 2010']< 5000.0]

In [24]:
popMenor5mil.shape

(3, 8)

In [25]:
popMenor5mil.head()

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
60,2605459,Fernando de Noronha,2051.0,1294.0,1335.0,2629.0,0.0,2629.0
78,2607109,Ingazeira,4567.0,2290.0,2206.0,2456.0,2040.0,4496.0
81,2607406,Itacuruba,3669.0,2132.0,2237.0,3708.0,661.0,4369.0

In [4]:
ds.columns

Index(['ano_movimentacao', 'mes_movimentacao', 'orgao_codigo', 'orgao_nome',
       'unidade_codigo', 'unidade_nome', 'categoria_economica_codigo',
       'categoria_economica_nome', 'grupo_despesa_codigo',
       'grupo_despesa_nome', 'modalidade_aplicacao_codigo',
       'modalidade_aplicacao_nome', 'elemento_codigo', 'elemento_nome',
       'subelemento_codigo', 'subelemento_nome', 'funcao_codigo',
       'funcao_nome', 'subfuncao_codigo', 'subfuncao_nome', 'programa_codigo',
       'programa_nome', 'acao_codigo', 'acao_nome', 'fonte_recurso_codigo',
       'fonte_recurso_nome', 'empenho_ano', 'empenho_modalidade_nome',
       'empenho_modalidade_codigo', 'empenho_numero', 'subempenho',
       'indicador_subempenho', 'credor_codigo', 'credor_nome',
       'modalidade_licitacao_codigo', 'modalidade_licitacao_nome',
       'valor_empenhado', 'valor_liquidado', 'valor_pago'],
      dtype='object')

In [6]:
ds['grupo_despesa_nome'].count()

92734

In [7]:
ds.describe()

,ano_movimentacao,mes_movimentacao,orgao_codigo,unidade_codigo,categoria_economica_codigo,grupo_despesa_codigo,modalidade_aplicacao_codigo,elemento_codigo,subelemento_codigo,funcao_codigo,subfuncao_codigo,programa_codigo,acao_codigo,fonte_recurso_codigo,empenho_ano,empenho_modalidade_codigo,empenho_numero,subempenho,credor_codigo,modalidade_licitacao_codigo
count,92734.0,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,92734.000000,9.273400e+04,92734.000000
mean,2017.0,7.229463,43.339271,43.364098,3.049184,2.790702,89.342938,42.608827,36.480266,12.939882,336.515000,1728.671728,2706.323172,142.699258,2016.986876,1.867017,1212.141847,6.773923,3.332229e+06,50.055093
std,0.0,3.425290,18.134854,18.143792,0.216253,0.774004,5.653971,22.005841,27.067664,5.776104,192.303194,645.921910,1408.361332,147.525489,0.113805,1.052595,1361.185383,20.274791,2.040111e+06,40.867670
min,2017.0,1.000000,10.000000,10.010000,3.000000,1.000000,20.000000,1.000000,1.000000,3.000000,91.000000,1201.000000,1012.000000,100.000000,2016.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000
25%,2017.0,4.000000,32.000000,32.010000,3.000000,3.000000,90.000000,33.000000,10.000000,10.000000,123.000000,1211.000000,2156.000000,100.000000,2017.000000,1.000000,185.000000,0.000000,1.304999e+06,2.000000
50%,2017.0,7.000000,48.000000,48.010000,3.000000,3.000000,90.000000,39.000000,36.000000,13.000000,361.000000,1304.000000,2539.000000,100.000000,2017.000000,2.000000,630.000000,0.000000,3.108784e+06,37.000000
75%,2017.0,10.000000,59.000000,59.010000,3.000000,3.000000,90.000000,39.000000,56.000000,15.000000,392.000000,2161.000000,2723.000000,115.000000,2017.000000,3.000000,1898.000000,3.000000,4.500098e+06,95.000000
max,2017.0,12.000000,80.000000,80.030000,4.000000,6.000000,91.000000,96.000000,99.000000,28.000000,846.000000,4103.000000,9018.000000,4307.000000,2017.000000,4.000000,5806.000000,159.000000,9.900218e+06,99.000000